<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish></SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>e59e09f7-6141-4803-bef5-f6d5ee053ab0</DefaultValue>
            <Value>e59e09f7-6141-4803-bef5-f6d5ee053ab0</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>+3+IzJXgVdnvjhjMiGAo1fdPGaK4rxPc+yvOvLIZtss=</DefaultValue>
            <Value>+3+IzJXgVdnvjhjMiGAo1fdPGaK4rxPc+yvOvLIZtss=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>